assignment1/initial/src/test/solutions/
assignment1/initial/src/test/testcases/
assignment1/initial/src/main/mc/parser/__pycache__/
assignment1/initial/src/test/__pycache__/
assignment1/initial/target/
